<div class="container-fluid site">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <div class="leader">
      <h1>Loremore</h1>
      <h2>Free ideas for everyone.</h2>
      <div class="buttons">
        <%= link_to 'Quotes', quotes_path, class: 'btn btn-default btn-lg' %>
        <%= link_to 'Books',  books_path, class: 'btn btn-default btn-lg' %>
      </div>
    </div>
  </div>
  <div class="col-md-2">
  </div>
</div>
